.bubble {
    margin: 10px auto;

    &:hover {
        .bubble__close {
            display: flex;
        }
    }

    &.select {
        .bubble__content {
            border-color: white;
        }
    }

    &.fav {
        .bubble__content {
            width: 100px;
            height: 100px;
        }

        .bubble__inner {
            display: block;
            background-size: 100px 100px;
            width: 100px;
            height: 100px;
        }
    }
}

.bubble__title {
    width: 60px;
    margin-top: 5px;

    text-align: center;

    @media screen and (min-width: 1200px) {
        width: 80px;
    }

}

.bubble__content {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    border: 2px solid transparent;
    border-radius: 100px;
    
    width: 44px;
    height: 44px;

    @media screen and (min-width: 1200px) {
        width: 80px;
        height: 80px;
    }
}

.bubble__inner {
    background: brown;
    display: none;
    border-radius: 100px;

    width: 60px;
    height: 60px;

    background-size: 80px 80px;

    cursor: pointer;
    
    @media screen and (min-width: 1200px) {
        display: block;
    }

    &:hover {
        animation: bubble-hover .2s 1 forwards;
    }
}

@keyframes bubble-hover {
    0% {
        width: 60px;
        height: 60px;
    }

    66% {
        width: 76px;
        height: 76px;
    }

    100% {
        width: 66px;
        height: 66px;
    }
}

.bubble__icon {
    width: 30px;
    height: 30px;
    padding: 5px;

    border: 1px solid white;
    border-radius: 100px;
    background-color: white;
    
    @media screen and (min-width: 1200px) {
        position: absolute;
        top: -5px;
        left: -5px;
    }
}

.bubble__close {
    display: none;
    position: absolute;
    top: -7px;
    right: -7px;
    height: 20px;
    padding: 5px;

    &:hover {
        stroke: red;
    }
}