.toolbar {
    width: 3%;
    min-width: 40px;
    max-width: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
        stroke: white;
        fill: white;
        margin: 10px 0;

        & :hover {
            background: red;
        }
    }
}